@charset "UTF-8";

body{
    background: url(img/ubuntu3.jpg) no-repeat;
}

table{
    width: 100%;
    height: 100%;
    border: 2px #000 solid;/*dotted,dashed,double,groove,ridge,solid,inset,outset*/
    text-align: center;
    border-spacing: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#menu{
    background: rgb(44, 128, 238);
    color: aliceblue;

}
td{
    border: 2px black solid;
    padding: 5px;

}
.rodape{
    background: rgb(27, 127, 185);

}