@charset "UTF-8";

body{
    background: url(img/ubuntu2.jpg) no-repeat;
}

table{
    width: 100%;
    height: 100%;
    border: 2px #000 solid;/*dotted,dashed,double,groove,ridge,solid,inset,outset*/
}
tr{
    

}
td{
    border: 2px black solid;

}